/* Tailwind imports */
@import "tailwindcss";

/* Lumir Editor styles */
@import "@lumir-company/editor/style.css";

@media (min-width: 768px) {
  .responsive-editor .bn-editor {
    padding-left: 40px;
    padding-right: 20px;
  }
}
